<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>検索画面</title>
		<style>
	body {
		text-align:center;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

  .bg_dot{
  background-color: #fff;
  background-image:
    radial-gradient(#7bded9 30%, transparent 30%);
  background-size: 20px 20px;
}
</style>
</head>

<body>
<p th:if="${result != null}" th:text="${result}">メッセージ</p>

<h2>検索</h2>
<form  method="post" name="SearchForm">

社員ID：<input type="text" name="ID"><br><br>
<!--<p th:if="${#fields.hasErrors(Number)}"  th:errors="Number"></p>-->
<input type="submit"  value="検索" onClick="return NonCheck();" >
<input type="reset">

</form>

<a href="/">登録</a><br>
<!--<a href="bookDelete">削除</a><br>-->

<!--未入力のチェック処理-->
<script type="text/javascript">

	//未入力のチェック
	function NonCheck(){
		if (SearchForm.ID.value == ""){
	
    	//条件に一致する場合(社員IDが空の場合)
    	//エラーメッセージを出力
    	alert("社員IDを入力してください");
    	//送信ボタン本来の動作をキャンセルします
   		return false;	
    
    	}else{
	 	//条件に一致しない場合(名前が入力されている場合)
	 	//送信ボタン本来の動作を実行します
     	return true;
     	}
     	}
</script>

</body>

</html>