<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>削除画面</title>
		<style>
	body {
		text-align:center;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

  .bg_dot{
  background-color: #fff;
  background-image:
    radial-gradient(#7bded9 30%, transparent 30%);
  background-size: 20px 20px;
}
</style>
</head>

<body>
<p th:if="${Dresult != null}" th:text="${Dresult}">メッセージ</p>

<h2>削除</h2>
<form  method="post">
社員番号：<input name="Number"><br><br>

<button type="submit">削除結果</button>

</form>

<a href="/">登録</a><br>
<a href="bookSearch">検索</a><br>

</body>

</html>