<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧</title>
<style>
	.contact {
	  width: 960px;/*横幅*/
	  margin: 0 auto;/*中央寄せ*/
	  padding: 60px 0;
	}

	table {
  border-collapse: collapse;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
  text-align:center;
  border-right: none !important;
  border-left: none !important;
}
</style>
</head>

<body　class="background_test">

<a href="/">一覧表示</a>
<div class="contact">
<table border="1" th:object="${tip}">
	<tr>
	<td>ID</td><td th:text="*{id}"></td>
	</tr>
	<tr>
	<td>タイトル</td><td th:text="*{title}"></td>
	</tr>

	<tr>
	<td>概要</td><td th:text="*{overview}"></td>
	</tr>

	<tr>
	<td>内容</td><td th:text="*{content}"></td>
	</tr>

</table>
 
</div>
 </body>
 
</html>