<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧</title>
<style>
	div.mb-3{
		    display:block;
		    text-align: center;
	}

	
	table{
		    margin:auto;
	}
	
	div.validate{
		text-align: center;
		color:crimson;
	}
</style>

<!--
<script>

function check(){
	//書籍名のnullチェック
	if(document.form.book.value==""){
		window.alert("書籍名の値が未入力です")
		return false;
	//価格のnullチェック
	}else if(document.form.price.value==""){
		window.alert("価格の値が未入力です")
		return false;
	}else{
		return true;
	}
}
</script>  -->


</head>
<body>
<a href="/">一覧表示</a>
  <form method="post" action="/create" th:object="${tip}">

    <input type="hidden" name="id" th:value="*{id}"> 
      
    <div class="mb-3">
      <label for="title" class="form-label">タイトル</label>
      <input type="text" class="form-control" name="title" th:value="*{title}" >
    </div>
    
    <div class="mb-3">
      <label for="overview" class="form-label">概要</label>
      <input type="text" class="form-control" name="overview" th:value="*{overview}" required>
    </div>
    
    <div class="mb-3">
      <label for="content" class="form-label">内容</label>
      <textarea rows="10" cols="60" class="form-control" name="content" th:values="*{content}"></textarea>
    </div>
   
   
    <div class="mb-3">
    <input type="submit"  class="btn btn-primary" value="Create"/>
    </div>
  </form>

  
</body>
</html>